.header {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: $bg-color-black;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding-top: 75px;
    padding-bottom: 75px;

    @include respond-to(laptops) {
        padding: 40px 20px;
        max-width: none;
    }
}
