.main {
    height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(3, 56, 244, 0.71) 0%,
        rgba(224, 37, 206, 0.79) 93.75%
    );
}

.wrapper {
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
