.header__nav {
    &-list {
        display: flex;
    }

    &-item {
        padding-right: 54px;
    }

    &-item:last-child {
        padding-right: 0;
    }
}

.header__link {
    line-height: 50px;
    letter-spacing: 2px;
}
