@font-face {
    font-family: "Forum-Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Forum-Regular"), local("Forum-Regular"),
        url("../../assets/fonts/Forum-Regular.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../../assets/fonts/Forum-Regular.ttf") format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto-Regular"), local("Roboto-Regular"),
        url("./fonts/Roboto-Regular.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/Roboto-Regular.ttf") format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto-Thin";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto-Thin"), local("Roboto-Thin"),
        url("./fonts/Roboto-Thin.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/Roboto-Thin.ttf")
            format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: "Forum-Regular", sans-serif;
    background-color: #fff;
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto-Regular", serif;
    font-weight: normal;
    font-style: normal;
}
