$laptop: 1023px;
$tablet: 767px;
$phone: 419px;
@mixin respond-to($media) {
    @if $media == phones {
        @media only screen and (max-width: $phone) {
            //420px
            @content;
        }
    } @else if $media == tablets {
        @media only screen and (max-width: $tablet) {
            //from 768
            @content;
        }
    } @else if $media == laptops {
        @media only screen and (max-width: $laptop) {
            //from 1024
            @content;
        }
    }
}
