/*UI Colors*/
$color-white: #ffffff;
$color-gray: #cecaca;
$color-gray-light: #fafafa;
$text-black: #343434;
$text-black-light: #73808d;
$color-title-dark: #545454;

/*Fonts*/
$title-font: Montserrat, serif;
$main-font: Calibri, sans-serif;
