/*UI Colors*/
$color-white: #ffffff;
$color-red: #710707;
$ico-coffee: #d2b183;
$title-coffee: #9d8665;
$bg-color-black: #030303;
$text-black: #000000;

/*Fonts*/
$title-font: Roboto-Regular, serif;
$main-font: Forum-Regular, sans-serif;
